@model Entidades.Dominio.Drink

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDrink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDrink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.StrCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.StrGlass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.StrIngredient1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alcoholic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alcoholic.StrAlcoholic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDrink">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
