@model DrinksViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="@(Model.M.ToLower().Equals("c") ? "" : "collapse")">Drinks by Category: <small>@(" " + Model.C)</small></h1>
<h1 class="@(Model.M.ToLower().Equals("g") ? "" : "collapse")">Drinks by Glass: <small>@(" " + Model.G)</small></h1>
<h1 class="@(Model.M.ToLower().Equals("i") ? "" : "collapse")">Drinks by Ingredient: <small>@(" " + Model.I)</small></h1>
<h1 class="@(Model.M.ToLower().Equals("a") ? "" : "collapse")">Drinks by Alcoholic: <small>@(" " + Model.A)</small></h1>
<h1 class="@(Model.M.ToLower().Equals("s") ? "" : "collapse")">Drinks by Name: <small>@(" " + Model.S)</small></h1>
<h1 class="@(Model.M.ToLower().Equals("f") ? "" : "collapse")">Drinks by First Letter: <small>@(" " + Model.F)</small></h1>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="fas fa-filter"></span></a>
</p>
<div class="row mb-2">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
          <form asp-action="Index" method="get">
              <input type="hidden" asp-for="M" />
              <div class="row">
                        @if (Model.M.ToLower().Equals("c"))
                        {
                            <div class="col-md-3 @(Model.M.ToLower().Equals("c") ? "": "collapse")">
                                <label class="m-1">Category:</label>
                                <select class="form-control" asp-for="C" asp-items="ViewBag.Category">
                                </select>
                            </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="C" />
                        }
                        @if (Model.M.ToLower().Equals("g"))
                        {
                        <div class="col-md-3 @(Model.M.ToLower().Equals("g") ? "": "collapse")">
                    <label class="m-1">Glass:</label>
                    <select class="form-control" asp-for="G" asp-items="ViewBag.Glass">
                    </select>
                </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="G" />
                        }
                        @if (Model.M.ToLower().Equals("i"))
                        {
                <div class="col-md-3 @(Model.M.ToLower().Equals("i") ? "": "collapse")">
                    <label class="m-1">Ingredient:</label>
                    <select class="form-control" asp-for="I" asp-items="ViewBag.Ingredient">
                    </select>
                </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="I" />
                        }
                        @if (Model.M.ToLower().Equals("a"))
                        {
                <div class="col-md-3 @(Model.M.ToLower().Equals("a") ? "": "collapse")">
                    <label class="m-1">Alcoholic:</label>
                    <select class="form-control" asp-for="A" asp-items="ViewBag.Alcoholic">
                    </select>
                </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="A" />
                        }
                        @if (Model.M.ToLower().Equals("s"))
                        {
                <div class="col-md-3 @(Model.M.ToLower().Equals("s") ? "": "collapse")">
                    <label class="m-1">By Name:</label>
                    <input type="text" asp-for="S" maxlength=20 required>
                </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="S" />
                        }
                        @if (Model.M.ToLower().Equals("f"))
                        {
                <div class="col-md-3 @(Model.M.ToLower().Equals("f") ? "": "collapse")">
                    <label class="m-1">By First Letter:</label>
                    <input type="text" asp-for="F" maxlength="1" required>
                </div>
                        }
                        else
                        {
              <input type="hidden" asp-for="F" />
                        }
                <div class="col-md-3">
                    <button class="btn btn-secondary"><span class="fas fa-filter mr-2"></span>Filter/Search</button>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
<p class="collapse">
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>No</th>
            <th>Drink</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 1;}
@foreach (var item in Model.Drinks) {
        <tr>
            <td>@(rowNo++)</td>
            <td>
                <div class="row">
                    <div class="col-8">
                        @Html.DisplayFor(modelItem => item.StrDrink)
                    </div>
                    <div id="@("isFav" + item.IdDrink.ToString())" class="col-4 text-warning collapse" title="Is my favorite!">
                        <span class="fas fa-star"></span>
                    </div>
                </div>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#exampleModal"+item.IdDrink.ToString())">
                  See Photo
                </button>
                <!-- Modal -->
                <div class="modal fade" id="@("exampleModal"+item.IdDrink)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@(item.StrDrink)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="@(item.StrDrinkThumb)" class="img-fluid" />
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary collapse">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
            <td id="@("td" + item.IdDrink.ToString())">
                <a class="btn btn-info" asp-action="Details" 
                asp-route-M="@Model.M"
                asp-route-C="@Model.C"
                asp-route-G="@Model.G"
                asp-route-I="@Model.I"
                asp-route-A="@Model.A"
                asp-route-S="@Model.S"
                asp-route-F="@Model.F"
                asp-route-IdDrink="@item.IdDrink"><span class="fas fa-info mr-2"></span>Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts 
{
    <script>
        var currUser;
        window.onload = function()
        {
            
            if(localStorage.user == undefined)
            {
                var user = prompt("Enter your name, please:", "Gerardo");
                if (user != null) {
                    currUser = user;
                    localStorage.user = currUser;
                }
            }
            else
            {
                currUser = localStorage.user;
            }
            SetFavs();
        }
        function SetFavs()
        {
            if(localStorage.users != undefined)
            {
                let users = JSON.parse(localStorage.users);
                for(let u = 0; u < users.length; u++)
                {
                    if(users[u].name.toLowerCase() == currUser.toLowerCase())
                    {
                        for(let i = 0; i < users[u].id.length; i++)
                        {
                            let id = document.getElementById("isFav" + users[u].id[i]);
                            if(id != undefined)
                            {
                                id.classList.remove("collapse");
                            }
                        }
                    }
                }
            }
        }
    </script>
}
